@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 0;
  font: inherit;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.field {
  display: block;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}

.title {
  margin: 0;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1170px;
}


/* Хедер */
.page-header {
  padding: 24px 0;
}

.navigation {
  display: flex;
}

.logo {
  margin-right: 32px;
}

.navigation-list {
  position: relative;
  display: flex;
  padding: 10px 0;
}

.navigation-link {
  padding: 8px 16px;
  line-height: 20px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.navigation-link:focus:not(.navigation-link-current) {
  background-color: rgba(252, 252, 252, 0.5);
  outline-offset: -1px;
  outline: 2px solid #2d3440;
  border-radius: 30px;
}

.navigation-link-current:focus {
  background-color: #ff4a78;
  border-radius: 30px;
}

.navigation-link-current:focus + .navigation-sublist {
  display: block;
}


/* Подменю навигации */
.navigation-sublist {
  position: absolute;
  top: 54px;
  display: none;
  padding: 8px 0;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.navigation-sublink {
  min-width: 135px;
  padding: 6px 0;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

.navigation-sublink-new {
  position: relative;
  margin-bottom: 8px;
  padding: 8px 0;
  padding-left: 16px;
  font-weight: 700;
}

.navigation-sublink-new::after {
  position: absolute;
  left: 16px;
  bottom: -4px;
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
  content: "";
}

.navigation-sublink:hover {
  background-color: #ffcbd8;
}

.navigation-sublink:active {
  background-color: #ff7799;
}

.navigation-sublink:focus {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.user-menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-left: auto;
}

.user-menu-tel-link {
  display: flex;
  font-weight: 700;
  line-height: 20px;
  /* Уточнить состояние */
}

.search-btn {
  width: 32px;
  height: 32px;
  background: url(../images/icons/search-icon.svg) no-repeat center rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.search-btn:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-btn:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.search-btn:active {
  background-color: #fcfcfc;
}

.search-btn-current:focus {
  background: url(../images/icons/search-icon-current.svg) no-repeat center #ff4a78;
  outline: none;
}

.search-btn-current:focus + .search-form {
  display: block;
}


/* Поповер поиска */
.search-form {
  position: absolute;
  top: 60px;
  right: 126px;
  z-index: 1;
  display: none;
  width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.header-field {
  width: 324px;
  padding: 14px 100px 14px 16px;
  line-height: 20px;
  outline: 1px solid #b9b9b9;
  border: none;
  border-radius: 4px;
}

.header-field:hover {
  outline: 1px solid #2d3440;
}

.header-field:focus {
  outline: 2px solid #2d3440;
}

.header-field:invalid {
  outline: 1px solid #ea5454;
}

.header-field:invalid:hover {
  outline: 2px solid #ea5454;
}

.header-field:disabled {
  background-color: #e7e7e7;
}

.header-field:hover + .search-close-btn,
.header-field:focus + .search-close-btn,
.header-field:active + .search-close-btn {
  display: block;
}

.search-close-btn {
  display: none;
  position: absolute;
  top: 40px;
  right: 29px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.search-close-btn:hover,
.search-close-btn:active,
.search-close-btn:focus {
  display: block;
}

.search-close-btn::before,
.search-close-btn::after {
  position: absolute;
  left: 3px;
  width: 10px;
  height: 1px;
  background-color: #b9b9b9;
  border-radius: 4px;
  content: "";
}

.search-close-btn::before {
  transform: rotate(45deg);
}

.search-close-btn::after {
  transform: rotate(-45deg);
}

.login-link {
  position: relative;
  width: 88px;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  line-height: 20px;
  background: url(../images/icons/login-icon.svg) no-repeat 17px 50% rgba(252, 252, 252, 0.3);;
  border-radius: 30px;
}

.login-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.login-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
}

.login-link:active {
  background-color: #fcfcfc;
}

.login-link-current:focus {
  color: #fcfcfc;
  background: url(../images/icons/login-icon-current.svg) no-repeat 17px 50% #ff4a78;
  outline: none;
}

.login-link-current:active + .auth-wrapper,
.login-link-current:focus + .auth-wrapper {
  display: block;
}


/* Поповер логина */
.auth-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  right: 67px;
  z-index: 1;
  width: 420px;
  padding: 48px 48px 52px 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.auth-title {
  margin-bottom: 32px;
  line-height: 30px;
}

.auth-field {
  width: 324px;
  padding: 14px 100px 14px 16px;
  line-height: 20px;
  outline: 1px solid #b9b9b9;
  border: none;
  border-radius: 4px;
}

.auth-field-email {
  margin-bottom: 16px;
}

.auth-field-password {
  margin-bottom: 32px;
}

.auth-field:hover {
  outline: 1px solid #2d3440;
}

.auth-field:focus {
  outline: 2px solid #2d3440;
}

.auth-field:invalid {
  outline: 1px solid #ea5454;
}

.auth-field:invalid:hover {
  outline: 2px solid #ea5454;
}

.auth-field:disabled {
  background-color: #e7e7e7;
}

.auth-btn {
  margin-right: 23px;
  padding: 12px 32px;
  font-weight: 700;
  line-height: 20px;
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.auth-btn:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
}

.auth-btn:focus {
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.auth-btn:active {
  color: #fcfcfc;
  background-color: #feafc3;
  outline: 2px solid #2d3440;
}

.auth-btn:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  cursor: default;
}

.auth-link-wrapper {
  display: inline-block;
  max-width: 188px;
  vertical-align: bottom;
}

.auth-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}

.auth-forgot-link {
  margin-bottom: 4px;
}
