@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 0;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1170px;
}


/* Хедер */
.page-header {
  padding: 24px 0;
}

.navigation {
  display: flex;
}

.logo {
  margin-right: 32px;
}

.navigation-list {
  position: relative;
  display: flex;
  padding: 10px 0;
}

.navigation-link {
  padding: 8px 16px;
  line-height: 20px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.navigation-link:focus:not(.navigation-link-current) {
  background-color: rgba(252, 252, 252, 0.5);
  outline-offset: -1px;
  outline: 2px solid #2d3440;
  border-radius: 30px;
}

.navigation-link-current:focus {
  background-color: #ff4a78;
  border-radius: 30px;
}

.navigation-link-current:focus + .navigation-sublist {
  display: block;
}


/* Подменю навигации */
.navigation-sublist {
  position: absolute;
  top: 54px;
  display: none;
  padding: 8px 0;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.navigation-sublink {
  min-width: 135px;
  padding: 6px 0;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

.navigation-sublink-new {
  position: relative;
  margin-bottom: 8px;
  padding: 8px 0;
  padding-left: 16px;
  font-weight: 700;
}

.navigation-sublink-new::after {
  position: absolute;
  left: 16px;
  bottom: -4px;
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
  content: "";
}

.navigation-sublink:hover {
  background-color: #ffcbd8;
}

.navigation-sublink:active {
  background-color: #ff7799;
}

.navigation-sublink:focus {
  background-color: #ff4a78;
  color: #fcfcfc;
}
