@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #ffffff;
}


/* Паттерны */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 0;
  font: inherit;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.field {
  display: block;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}

.title,
.paragraph {
  margin: 0;
}

.blue-bg {
  background-color: #69a9ff;
}

.yellow-bg {
  background-color: #fcc850;
}

.pink-bg {
  background-color: #feafc3;
}

.page-container {
  margin: 0 auto;
  flex-grow: 1;
  width: 1170px;
}


/* Хедер */
.page-header {
  padding: 24px 0;
}

.navigation {
  display: flex;
}

.logo {
  margin-right: 32px;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  border-radius: 30px;
  outline-offset: 10px;
  outline: 2px solid #2d3440;
}

.logo:active {
  opacity: 0.3;
}

.navigation-list {
  position: relative;
  display: flex;
  max-width: 500px;
  padding: 10px 0;
}

.navigation-link {
  padding: 8px 16px;
  line-height: 20px;
  text-align: center;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus:not(.navigation-link-current) {
  background-color: rgba(252, 252, 252, 0.5);
  outline-offset: -1px;
  outline: 2px solid #2d3440;
  border-radius: 30px;
}

.navigation-link-current:focus {
  background-color: #ff4a78;
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.navigation-link-current:focus + .navigation-sublist {
  display: block;
}


/* Подменю навигации */
.navigation-sublist {
  position: absolute;
  top: 54px;
  display: none;
  padding: 8px 0;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.navigation-sublink {
  min-width: 135px;
  padding: 6px 0;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
}

.navigation-sublink-new {
  position: relative;
  margin-bottom: 8px;
  padding: 8px 0;
  padding-left: 16px;
  font-weight: 700;
}

.navigation-sublink-new::after {
  position: absolute;
  left: 16px;
  bottom: -4px;
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
  content: "";
}

.navigation-sublink:hover {
  background-color: #ffcbd8;
}

.navigation-sublink:focus {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.navigation-sublink:active {
  background-color: #ff7799;
}

.user-menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-left: auto;
}

.user-menu-tel-link {
  padding: 8px;
  margin-right: -8px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 30px;
}

.user-menu-tel-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-menu-tel-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.user-menu-tel-link:active {
  background-color: #fcfcfc;
}

.search-btn {
  width: 32px;
  height: 32px;
  background: url("../images/icons/search-icon.svg") no-repeat center rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  box-shadow: none;
}

.search-btn:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-btn:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.search-btn:active {
  background-color: #fcfcfc;
}

.search-btn-current:focus {
  background: url("../images/icons/search-icon-current.svg") no-repeat center #ff4a78;
  outline: none;
}

.search-btn-current:focus + .search-form {
  display: block;
}


/* Поповер поиска */
.search-form {
  position: absolute;
  top: 60px;
  right: 126px;
  z-index: 1;
  display: none;
  width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.header-field {
  width: 324px;
  padding: 14px 100px 14px 16px;
  line-height: 20px;
  outline: 1px solid #b9b9b9;
  border: none;
  border-radius: 4px;
}

.header-field:hover {
  outline: 1px solid #2d3440;
}

.header-field:focus {
  outline: 2px solid #2d3440;
}

.header-field:invalid {
  outline: 1px solid #ea5454;
}

.header-field:invalid:hover {
  outline: 2px solid #ea5454;
}

.header-field:disabled {
  background-color: #e7e7e7;
}

.header-field:hover + .search-close-btn,
.header-field:focus + .search-close-btn,
.header-field:active + .search-close-btn {
  display: block;
}

.search-close-btn {
  display: none;
  position: absolute;
  top: 40px;
  right: 29px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.search-close-btn:hover,
.search-close-btn:active,
.search-close-btn:focus {
  display: block;
}

.search-close-btn::before,
.search-close-btn::after {
  position: absolute;
  left: 3px;
  width: 10px;
  height: 1px;
  background-color: #b9b9b9;
  border-radius: 4px;
  content: "";
}

.search-close-btn::before {
  transform: rotate(45deg);
}

.search-close-btn::after {
  transform: rotate(-45deg);
}

.login-link {
  width: 88px;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  line-height: 20px;
  background: url("../images/icons/login-icon.svg") no-repeat 17px 50% rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.login-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.login-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
}

.login-link:active {
  background-color: #fcfcfc;
}

.login-link-current:focus {
  color: #fcfcfc;
  background: url("../images/icons/login-icon-current.svg") no-repeat 17px 50% #ff4a78;
  outline: none;
}

.login-link-current:active + .auth-wrapper,
.login-link-current:focus + .auth-wrapper {
  display: block;
}


/* Поповер логина */
.auth-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  right: 67px;
  z-index: 1;
  width: 420px;
  padding: 48px 48px 52px 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.auth-title {
  margin-bottom: 32px;
  line-height: 30px;
}

.auth-field {
  width: 324px;
  padding: 14px 100px 14px 16px;
  line-height: 20px;
  outline: 1px solid #b9b9b9;
  border: none;
  border-radius: 4px;
}

.auth-field-email {
  margin-bottom: 16px;
}

.auth-field-password {
  margin-bottom: 32px;
}

.auth-field:hover {
  outline: 1px solid #2d3440;
}

.auth-field:focus {
  outline: 2px solid #2d3440;
}

.auth-field:invalid {
  outline: 1px solid #ea5454;
}

.auth-field:invalid:hover {
  outline: 2px solid #ea5454;
}

.auth-field:disabled {
  background-color: #e7e7e7;
}

.auth-btn {
  margin-right: 23px;
  padding: 12px 32px;
  font-weight: 700;
  line-height: 20px;
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.auth-btn:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
}

.auth-btn:focus {
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.auth-btn:active {
  color: #fcfcfc;
  background-color: #feafc3;
  outline: 2px solid #2d3440;
}

.auth-btn:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  cursor: default;
}

.auth-link-wrapper {
  display: inline-block;
  max-width: 188px;
  vertical-align: bottom;
}

.auth-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}

.auth-forgot-link {
  margin-bottom: 4px;
}

.cart-btn {
  width: 115px;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  line-height: 20px;
  background: url("../images/icons/cart-header-icon.svg") no-repeat 17px 50% rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  box-shadow: none;
  outline: none;
}

.cart-btn:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.cart-btn:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
}

.cart-btn:active {
  background-color: #fcfcfc;
}

.cart-btn-current:focus {
  color: #fcfcfc;
  background: url("../images/icons/cart-icon-current.svg") no-repeat 17px 50% #ff4a78;
  outline: none;
}

.cart-btn-current:active + .cart-wrapper,
.cart-btn-current:focus + .cart-wrapper {
  display: block;
}


/* Поповер полной корзины */
.cart-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 1;
  width: 441px;
  padding: 48px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.cart-title {
  margin-bottom: 32px;
  line-height: 30px;
}

.cart-list {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.cart-link {
  display: flex;
}

.cart-link-1 {
  margin-right: 83px;
}

.cart-link-2 {
  margin-right: 72px;
}

.cart-link:hover {
  opacity: 0.5;
}

.cart-link:focus {
  border-radius: 5px;
  outline: 2px solid #2d3440;
  outline-offset: 5px;
}

.cart-link:active {
  opacity: 0.3;
}

.cart-image {
  margin-right: 16px;
}

.cart-product-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
}

.cart-product-discription {
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart-product-price {
  font-weight: 700;
  font-size: 18px;
}

.cart-close-btn {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.cart-close-btn::after,
.cart-close-btn::before {
  position: absolute;
  left: 3px;
  width: 10px;
  height: 1px;
  background-color: #000000;
  border-radius: 30px;
  content: "";
}

.cart-close-btn::after {
  transform: rotate(45deg);
}

.cart-close-btn::before {
  transform: rotate(-45deg);
}

.cart-close-btn:hover {
  opacity: 0.5;
}

.cart-close-btn:active {
  opacity: 0.3;
}

.cart-total-price {
  display: flex;
  align-items: center;
}

.cart-order-btn {
  width: 198px;
  padding: 12px 32px;
  margin-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.cart-order-btn:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
}

.cart-order-btn:focus {
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.cart-order-btn:active {
  color: #fcfcfc;
  background-color: #feafc3;
  outline: 2px solid #2d3440;
}

.cart-total-price {
  font-weight: 700;
  font-size: 18px;
}

.cart-wrapper-empty {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  width: 288px;
  padding: 48px 28px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.cart-title-empty {
  line-height: 30px;
  text-align: center;
}


/* Слайдер */
.index-slider {
  position: relative;
}

.index-slider-blue,
.index-slider-yellow {
  display: none;
}

.slider-main {
  display: flex;
}

.slider-content {
  width: 470px;
  margin: 136px 21px 0 70px;
}

.slider-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-discription {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-link {
  width: 139px;
  padding: 12px 32px;
  font-weight: 700;
  line-height: 20px;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.slider-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-link:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-images {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-image-main {
  position: relative;
  z-index: 1;
  margin-right: 79px;
}

.slider-images::before {
  position: absolute;
  width: 312px;
  height: 312px;
  background-color: #ffcbd8;
  border-radius: 50%;
  content: "";
}

.slider-images::after {
  position: absolute;
  right: 128px;
  width: 100px;
  height: 100px;
  background-color: #ffcbd8;
  opacity: 0.4;
  border-radius: 50%;
  content: "";
}

.index-slider::after {
  position: absolute;
  right: 0;
  bottom: 227px;
  width: 100px;
  height: 100px;
  background-color: #ffcbd8;
  opacity: 0.4;
  border-radius: 50%;
  content: "";
}

.slider-image {
  position: relative;
  z-index: 1;
}

.slider-image:not(:last-of-type) {
  margin-right: 75px;
}

.slider-controls {
  position: absolute;
  left: -19px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.slider-btn {
  width: 38px;
  height: 38px;
  background: url("../images/icons/slider-arrow.svg") no-repeat 50% transparent;
  outline: 2px solid #fcfcfc;
  border-radius: 26px;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-btn:hover {
  background: url("../images/icons/slider-arrow-states.svg") no-repeat 50% #fcfcfc;
  outline: none;
}

.slider-btn:focus {
  background: url("../images/icons/slider-arrow-states.svg") no-repeat 50% transparent;
  outline: 2px solid #2d3440;
}

.slider-btn:active {
  background: url("../images/icons/slider-arrow-states.svg") no-repeat 50% transparent;
  outline: none;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  gap: 8px;
  min-width: 52px;
}

.slider-pagination-btn {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.4);
}

.slider-pagination-btn-current {
  background-color: #fcfcfc;
}

.slider-pagination-btn:hover {
  outline: 1px solid #fcfcfc;
}

.slider-pagination-btn:focus {
  outline: 1px solid #2d3440;
}

.slider-pagination-btn:active {
  background-color: rgba(252, 252, 252, 0.4);
  outline: none;
}

.slider-social-list {
  display: flex;
  gap: 16px;
  min-width: 104px;
}

.slider-social-link {
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}
